{% extends 'app/plantilla.html' %}
{% block content %}
{%load static%}
<div class="titulocatalogo">
    <h1>Ecchi </h1>
</div>

<div class="imagencatalogo">

    <img class="imagencatalogo" src="/app/static/img/catalogo/Ecchi.jpg" alt="First slide">

</div>

<div class="textocatalogo">
    <h3>Ecchi es la pronunciación japonesa de la letra H; haciendo referencia a la primera letra de la palabra hentai que se refiere al manga y anime de contenido erótico, que literalmente significa "pervertido". Si bien este género en ocasiones muestra las partes privadas de los personajes femeninos, no muestra escenas sexuales.</h3>
</div>
{% endblock %}