{% extends 'app/plantilla.html' %}
{% block content %}
{%load static%}

<div class="titulocatalogo">
    <h1>Josei </h1>
</div>

<div class="imagencatalogo">
    
    <img class="imagencatalogo" src="/app/static/img/catalogo/josei.jpg" alt="First slide">

</div>

<div class="textocatalogo">
    <h3>El josei , también conocido como redīsu o redikomi es una categoría del manga yanime dirigido especialmente para las mujeres adultas. El equivalente masculino de este género es el seinen. En japonés, la palabra josei significa solamente "femenino" y no presenta ninguna connotación sexual.
        Las historias suelen tratar las experiencias diarias de las mujeres que viven en Japón. Aunque algunas cubren temas de mujeres de instituto y universidad, la mayoría cubren las vidas de mujeres adultas. Este estilo tiende a ser una versión más restringida y realista del shōjo.</h3>
    </div>

{% endblock %}