{% extends 'app/plantilla.html' %}
{% block content %}
{%load static%}

<div class="titulocatalogo">
    <h1>Seinen </h1>
</div>

<div class="imagencatalogo">
    
    <img class="imagencatalogo" src="/app/static/img/catalogo/Seinen.jpg" alt="First slide">

</div>

<div class="textocatalogo">
    <h3>El seinen  es una demografía de manga cuyo objetivo es atraer a una audiencia masculina mayor de edad. Poco común en occidente, debido a que el mercado occidental se enfoca más en el público adolescente. Como tal, este tipo de anime tiende a ser mucho más sofisticado que el anime y manga shōnen. Algunos temas frecuentes en las tramas son la violencia y la política.</h3>
</div>
{% endblock %}