{% extends 'app/plantilla.html' %}
{% block content %}
{%load static%}

    <div class="titulocatalogo">
        <h1>Shōjo </h1>
    </div>

    <div class="imagencatalogo">
        
        <img class="imagencatalogo" src="/app/static/img/catalogo/Shojo.jpg" alt="First slide">
        
    </div>
    
    <div class="textocatalogo">
        <h3>
           El shōjo es un tipo de manga dirigido a una audiencia femenina de entre los diez y los dieciocho años, y suele publicarse en Japón en revistas manga dedicadas a ese sector demográfico. Abarca una gran cantidad de temas y estilos, desde el drama histórico a la ciencia ficción, centrando habitualmente el énfasis en las relaciones humanas y sentimentales. Estrictamente hablando, el shōjo no se adscribe a ningún estilo o género particular y es más un indicador del público al que va destinado.
         </h3>
    </div>
{% endblock %}