{% extends 'app/plantilla.html' %}
{% block content %}
{%load static%}

<div class="titulocatalogo">
    <h1>Shojo ai</h1>
</div>

<div class="imagencatalogo">
    
    <img class="imagencatalogo" src="/app/static/img/catalogo/shojo ai.jpg" alt="First slide">

</div>

<div class="textocatalogo">
    <h3>Como el Shounen-ai o Boy’s Love (amor de chicos), también existe un género llamado shoujo ai, que gira alrededor de una trama protagonizada por una pareja de chicas (niña y niña), de una forma mucho más ligera que el Yuri. Se tratan de animes cargados de inocencia con protagonistas por lo general adolescentes y en la que el amor suele ser incluso más platónico.</h3>
</div>

{% endblock %}