{% extends 'app/plantilla.html' %}
{% block content %}
{%load static%}

<div class="titulocatalogo">
    <h1>Shōnen ai </h1>
</div>

<div class="imagencatalogo1">
    
    <img class="imagencatalogo" src="/app/static/img/catalogo/Shonen ai.jpg" alt="First slide">

</div>

<div class="textocatalogo">
    <h3>El shōnen-ai es un término utilizado por los fans occidentales para referirse a un género de manga y anime que posee como temática principal las relaciones románticas sin contenido sexual explícito, entre hombres adultos o adolescentes. </h3>
</div>
{% endblock %}