{% extends 'app/plantilla.html' %}
{% block content %}
{%load static%}

<div class="titulocatalogo">
    <h1>Shōnen </h1>
</div>

<div class="imagencatalogo">
    
    <img class="imagencatalogo" src="{%static 'app/img/catalogo/SHONEN.png'%}" alt="First slide">

</div>

<div class="textocatalogo">
    <h3>Los mangas shōnen típicamente se caracterizan por ser series con grandes dosis de acción, a menudo situaciones humorísticas con protagonistas masculinos. El compañerismo entre chicos u hombres de un equipo deportivo también suele subrayarse en un shōnen. También suele haber personajes atractivos femeninos (como en el bishōjo o fan service), cabe destacar que tampoco es obligación. El arte de estilo de shōnen general es menos florido que el del shōjo, aunque esto puede variar mucho entre cada mangaka especifico.</h3>
</div>
{% endblock %}