{% extends 'app/plantilla.html' %}
{% block content %}
{%load static%}
<div class="titulocatalogo">
    <h1>Yaoi </h1>
</div>

<div class="imagencatalogo">
    
    <img class="imagencatalogo" src="/app/static/img/catalogo/yaoi.jpg" alt="First slide">

</div>

<div class="textocatalogo">
    <h3>Yaoi es la representación romántica, artística o sexual del amor homosexual entre hombres. El género suele estar englobado dentro del shojo o manga orientado a chicas, por estar enfocado principalmente a un público femenino. La mayor parte de las obras yaoi en el mundo son doujinshis, aunque el número de publicaciones profesionales en Japón es muy alto.</h3>
</div>


{% endblock %}