{% extends 'app/plantilla.html' %}
{% block content %}
{%load static%}

<div class="titulocatalogo">
    <h1>Yuri </h1>
</div>

<div class="imagencatalogo">
    
    <img class="imagencatalogo" src="/app/static/img/catalogo/yuri.jpg" alt="First slide">

</div>

<div class="textocatalogo">
    <h3>Yuri  Es un vocablo japonés para referirse al amor entre mujeres en manga, anime, y otros medios de expresión japoneses. Yuri puede centrarse tanto en los aspectos emocionales como en los aspectos sexuales de la relación</h3>
</div>

{% endblock %}